<div class="col-md-6">
    <h3>New Candidate Add</h3>
    <form (ngSubmit)="onSubmit(candidateForm)" #candidateForm="ngForm" novalidate>
        <div class="form-group">
            <label>Name</label>
            <input name="name" #name required class="form-control"  [ngModel]="candidates.name"/>
        </div>
        <div class="form-group">
            <label>Age</label>
            <input  #age name="age" class="form-control"  [ngModel]="candidates.age"/>
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input name="phone" #phone class="form-control"  [ngModel]="candidates.phone"/>
        </div>
        <div class="form-group">
            <label>Description</label>
            <input name="description" required #description class="form-control"  [ngModel]="candidates.description"/>
        </div>
        <div>
            <input hidden name="id" #id value="{{candidates.length + 1}}" ngModel />
        </div>

        <input type="submit" value="Save" class="btn btn-primary">
    </form>
</div>


<div class="col-md-6">
    <candidate *ngFor="let candidate of candidates" (click)="onCandidateSelected(candidate)" [candidate]="candidate">
    </candidate>

</div>
