<div class="col-md-6">
    <h3>New Candidate Add</h3>
    <form (ngSubmit)="onSubmit(candidateForm)" #candidateForm="ngForm" novalidate>
        <div class="form-group">
            <label>Name</label>
            <input id="name" name="name" #name required class="form-control" ngModel />
        </div>
        <div class="form-group">
            <label>Age</label>
            <input id="age" #age name="age" class="form-control" ngModel />
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input id="phone" name="phone" #phone class="form-control" ngModel/>
        </div>
        <div class="form-group">
            <label>Description</label>
            <input id="description" name="description" required #description class="form-control" ngModel/>
        </div>
        <div>
            <input hidden id="id" name="id" #id value="{{candidates.length + 1}}" ngModel />
        </div>

        <input type="submit" value="Save" class="btn btn-primary">
    </form>
</div>


<div class="col-md-6">
    <candidate *ngFor="let candidate of candidates" (click)="onCandidateSelected(candidate)" [candidate]="candidate">
    </candidate>

</div>
