<div class="col-md-6">
    <h3>New User Add</h3>

    <form [formGroup]="userForm" class="form" (ngSubmit)="onSubmit(userForm.value)">
        <div class="form-group" [ngClass]="{'error': userForm.controls.username.invalid && userForm.controls.username.dirty}">
            <label>Username</label>
            <input type="text" class="form-control" formControlName="username">

        </div>

        <div class="form-group" [ngClass]="{'error': userForm.get('email').invalid && userForm.get('email').dirty}">
            <label>Email</label>
            <input type="text" class="form-control" formControlName="email">
            <app-error-block [el]="userForm.get('email')"></app-error-block>
        </div>

        <div class="form-group" [ngClass]="{'error': userForm.get('password').invalid && userForm.get('password').dirty}">
            <label>Password</label>
            <input type="text" class="form-control" formControlName="password">
        </div>

        <div class="form-group" [ngClass]="{'error': userForm.get('confirmPassword').invalid && userForm.get('confirmPassword').dirty}">
            <label>Confirm Password</label>
            <input type="text" class="form-control" formControlName="confirmPassword">
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Save</button>
    </form>


    <!--<form (ngSubmit)="onSubmit(userForm.value)" #userForm="ngForm" novalidate>-->
        <!--<div class="form-group">-->
            <!--<label>Name</label>-->
            <!--<input name="name" #name required class="form-control"  [ngModel]="users.name"/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label>Age</label>-->
            <!--<input  #age name="age" class="form-control"  [ngModel]="users.age"/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label>Phone</label>-->
            <!--<input name="phone" #phone class="form-control"  [ngModel]="users.phone"/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label>Description</label>-->
            <!--<input name="description" required #description class="form-control"  [ngModel]="users.description"/>-->
        <!--</div>-->
        <!--<input type="submit" value="Save" class="btn btn-primary">-->
    <!--</form>-->
</div>


<div class="col-md-6">
    <h3>User List</h3>
    <user *ngFor="let user of users" (click)="onUserSelected(user)" [user]="user">
    </user>
</div>
